<html>
<head>
  <title>Please Sign In</title>
</head>
<body>
	<!-- 在Jinja2中，用{% ... %}表示指令, 用{{ name }}表示一个需要替换的变量 -->
  {% if message %}
  <p style="color:red">{{ message }}</p>
  {% endif %}
  <form action="/signin" method="post">
    <legend>Please sign in:</legend>
    <p><input name="username" placeholder="Username" value="{{ username }}"></p>
    <p><input name="password" placeholder="Password" type="password"></p>
    <p><button type="submit">Sign In</button></p>
  </form>
</body>
</html>